@use "../../styles/global" as *;
@use "../../styles/mixins/" as *;
@use "../../styles/variables" as *;

.temp-background {
  background-color: $background-dark;
}
.add-warehouse {
  margin: 0 1rem;
  background-color: white;
  &__title {
  }

  &__form {
  }

  &__form-section {
  }

  &__section-title {
  }

  &__input-label {
  }

  &__input {
    @include inputBorder;
  }

  &__cancel-button {
  }

  &__add-button {
  }
}
