@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins/" as *;
@use "../../styles/partials/variables" as *;

.add-inventory {
  margin: -4rem 1.5rem 0;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 2px;

  @include mQ($breakpoint-tablet) {
    margin: -5rem 2rem 0;
    max-width: 63.75rem;
    height: 44rem;
  }

  @include mQ($breakpoint-desktop) {
    margin: 0 auto;
    height: 37.875rem;
  }

  &__header {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;

    @include mQ($breakpoint-tablet) {
      border-bottom: 1px solid $cloud;
      justify-content: flex-start;
      padding: 1.5rem 2rem;
    }
  }

  &__title {
    font-size: 1.6rem;
    line-height: 2.25rem;
    padding-left: 0.25rem;

    @include mQ($breakpoint-tablet) {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__flex-container {
    @include mQ($breakpoint-tablet) {
      display: flex;
    }
  }

  &__form-section {
    border-top: 1px solid $cloud;
    padding: 1rem;

    @include mQ($breakpoint-tablet) {
      width: 50%;
      margin: 1.5rem 0;
      padding: 1rem 2rem;
      border-top: none;

      &:last-of-type {
        border-left: 1px solid $cloud;
        border-top: none;
      }
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;

    @include mQ($breakpoint-tablet) {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }

  &__form {
    text-align: left;
  }

  &__label {
    font-family: $font-semi;
    font-size: 0.813rem;
    line-height: 1.25rem;

    @include mQ($breakpoint-tablet) {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
    &--hidden {
      display: none;
    }
  }

  &__details-name {
    @include inputBorder;
    font-size: 0.813rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;

    @include mQ($breakpoint-tablet) {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
    &--invalid {
      border-color: $out-of-stock;
    }
  }

  &__details-description {
    @include inputBorder;
    font-size: 0.813rem;
    line-height: 1.25rem;
    resize: none;
    height: 7.5rem;
    padding-top: 0.5rem;
    margin-bottom: 1rem;

    @include mQ($breakpoint-tablet) {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
    &--invalid {
      border-color: $out-of-stock;
    }
  }

  &__select {
    font-size: 0.813rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;

    @include mQ($breakpoint-tablet) {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__radio-buttons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__radio-button-container {
    margin-bottom: 1rem;
    &:last-of-type {
      margin-left: 6rem;
    }
  }

  &__radio {
    margin-right: 0.25rem;
  }

  &__radio-label {
    font-size: 0.813rem;
    line-height: 1.25rem;
    &:first-child {
      margin-right: 4.5rem;
    }
  }

  &__quantity {
    @include inputBorder;
    font-size: 0.813rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;

    &--hidden {
      display: none;
    }

    &--invalid {
      border-color: $out-of-stock;
    }
  }

  &__buttons {
    background-color: $background-light;
    display: flex;
    padding: 1rem;

    @include mQ($breakpoint-tablet) {
      justify-content: flex-end;
      height: 70px;
    }
  }

  &__cancel {
    width: 50%;
    font-size: 0.813rem;
    line-height: 1.25rem;
    height: 2.25rem;
    background-color: $white;
    border-radius: 20px;
    color: $slate;
    border: 1px solid $cloud;
    padding: 0 1rem;
    margin-right: 0.5rem;

    @include mQ($breakpoint-tablet) {
      height: 2.375rem;
      width: auto;
    }

    &:hover {
      color: $instock-indigo;
      border: 1px solid $instock-indigo;
    }
  }

  &__add-button {
    width: 50%;
    font-size: 0.813rem;
    line-height: 1.25rem;
    height: 2.25rem;
    background-color: $instock-indigo;
    border-radius: 20px;
    border: none;
    color: white;
    padding: 0 1rem;
    margin-left: 0.5rem;

    @include mQ($breakpoint-tablet) {
      height: 2.375rem;
      width: auto;
    }

    &:hover {
      background-color: $background-dark;
    }
  }

  &__input-error {
    font-size: 0.688rem;
    line-height: 1.25rem;
    display: flex;
    align-items: center;
    color: $out-of-stock;
    padding-bottom: 1rem;

    @include mQ($breakpoint-tablet) {
      font-size: 0.75rem;
    }
  }

  &__input-error-icon {
    height: 1.5em;
  }
}
