@font-face {
  font-family: titillium-web-regular;
  src: url(../../assets/fonts/TitilliumWeb-Regular.ttf);
}

@font-face {
  font-family: titillium-web-semi-bold;
  src: url(../../assets/fonts/TitilliumWeb-SemiBold.ttf);
}

@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../../assets/fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: "Titillium Web Regular";
  src: url("../../assets/fonts/TitilliumWeb-Regular.ttf");
}
