@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

body {
  background: #f7f8f9;
  position: relative;
}

.inventory-list {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 1rem;
  border-radius: 0.1875rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(19, 24, 44, 0.1);
  background: white;
  margin-top: -4rem;

  @include mQ($breakpoint-tablet) {
    margin-top: -5rem;
  }

  &__head {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    &--title {
      font-size: 1.75rem;
      line-height: 2.25rem;
      font-weight: 600;
      color: $instock-black;
      text-align: left;
      margin: 1rem;
    }
  }

  &__form-cont {
    margin: 0 1rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;

    &--input {
      width: 100%;
      font-size: 0.8125rem;
      height: 2rem;
      border: 1px solid $cloud;
      border-radius: 1.25rem;
      padding: 1rem;
      background: url("../../assets/icons/search-24px.svg") 95% no-repeat;
      margin: 0rem 1.5rem;
      margin-bottom: 1rem;

      @media screen and (min-width: $breakpoint-tablet) {
        margin: 2rem 1rem;
      }
    }

    &--button {
      width: 100%;
      margin: 0.5rem;
      height: 2.25rem;
      padding: 0.5rem 5.5rem;
      background-color: $instock-indigo;
      color: $background-light;
      border: none;
      border-radius: 1.25rem;
      font-size: 0.8125rem;
    }
  }

  &__headers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: rgba(247, 248, 249, 0.7);
    visibility: hidden;

    @media screen and (min-width: $breakpoint-tablet) {
      visibility: visible;
      margin-top: 1rem;
    }

    &--subsec {
      display: flex;
      flex-direction: row;
    }

    &--left {
      width: 34%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-left: 1rem;

      @media screen and (min-width: $breakpoint-desktop) {
        margin-left: 1.5rem;
      }
    }

    &--right {
      width: 39%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }

    &--actions {
      width: 11%;
      justify-content: flex-end;
      margin-right: 1rem;

      @media screen and (min-width: $breakpoint-desktop) {
        margin-right: 0;
      }
    }

    &--txt {
      font-size: 0.75rem;
      line-height: 1.125rem;
      color: $slate;
      height: 1.125rem;
      margin: 0.5rem;
      text-align: start;
      justify-content: center;
    }

    &--icon {
      width: 1rem;
      height: 1rem;
      align-self: center;
      justify-content: center;
    }
  }
}
