@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins/" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $background-dark;
  height: 200px;

  @include mQ($breakpoint-tablet) {
    height: 186px;
    padding-top: 27px;
  }

  &__nav {
    padding: 1.875rem 1rem 0;

    @include mQ($breakpoint-tablet) {
      flex-grow: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2rem 0;
      max-width: 1020px;
      margin: 0 auto;
    }
  }

  &__logo {
    height: 28px;
  }

  &__buttons-container {
    margin-top: 1rem;
    @include mQ($breakpoint-tablet) {
      width: 214px;
      margin: 0;
    }
  }

  &__button {
    height: 36px;
    border-radius: 20px;
    font-size: 0.813rem;
    line-height: 1.25rem;
    width: 50%;
    border: none;
    color: $slate;
    background-color: $background-dark;

    @include mQ($breakpoint-tablet) {
      height: 38px;
    }

    &:hover {
      text-decoration: underline;
      color: $white;
    }
  }

  &__button--current {
    color: $white;
    background-color: $instock-black;
  }
}
