@use "./variables" as *;

// use the name variable for a breakpoint as width
@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

// input border style
@mixin inputBorder {
  height: 36px;
  width: 100%;
  padding: 0 1rem;
  border-radius: 20px;
  border: 1px solid $cloud;
  font-family: $font-regular;
  @include mQ($breakpoint-tablet) {
    height: 38px;
  }
  &:active {
    border: 1px solid $instock-indigo;
    color: $instock-black;
  }
}
