@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

@font-face {
  font-family: titillium-web-semi-bold;
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
}

@font-face {
  font-family: titillium-web-regular;
  src: url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
}


