@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

@font-face {
  font-family: "Titillium Web Semi Bold";
  src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
}

@font-face {
  font-family: "Titillium Web Regular";
  src: url("../assets/fonts/TitilliumWeb-Regular.ttf");
}
